.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: space-between;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  justify-self: start;
  align-self: center;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__links-list {
  display: flex;
  gap: 32px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: circle;
}

.header__link_active {
  text-decoration-line: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item .header__link {
  text-decoration-line: underline;
  text-underline-position: under;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  align-self: center;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
}

.header__address {
  width: 240px;
}

.header__address a {
  text-decoration-line: underline;
  text-underline-position: under;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 0;
  font-style: normal;
  text-transform: uppercase;
}

.aligned-text {
  font-size: 100px;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 60px;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  line-height: 100%;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  margin-top: 135px;
}

.cover__description-text {
  align-self: center;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px; /* 127.273% */
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  margin-left: 78px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 50px 181px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  position: relative;
  z-index: 0;
  height: 100%;
  padding: 50px 40px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px auto 2px 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: 100px 140px 1fr;
  column-gap: 25px;
  min-height: 487px;
  padding: 0 50px 180px;
}

.about__logo {
  display: flex;
  grid-area: 1 / 1 / 3 / 2;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 95px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #000;
}

.about__column {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 4 / 3;
  align-items: start;
  gap: 100px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer__menu {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}
.footer__menu-list-item {
  text-underline-position: under;
}
.footer__menu-list-item .footer__menu-link_active {
  text-decoration-line: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
}
